@import "../../global.scss";
.notes {
  // background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  background-color: #2f455c;
  // background: linear-gradient(160deg , #fa2641, #be319f,#b7538015);

}
.hline {
  flex: 1;
  margin-top: 30px;
  text-align: center;
  font-size: xx-large;
  color: whitesmoke;
  font-weight: 700;
  @include mobile {
    margin-top: 5px;
  }
}
.containor {
  flex: 8;
  display: grid;
  width: 90%;
  margin: 10px auto;
  grid-template-rows: repeat(3, 48%);
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  overflow-y: hidden;
  @include mobile {
    grid-template-rows: repeat(5, 30%);
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 8px;
    width: 95%;

  }
  
  .nt {
    display: flex;
    flex-direction: column;
    // background-color: whitesmoke;
  background: linear-gradient(160deg , #1dcdfe, #21d0b2,#34f5c5);
    margin: 7px;
    border: solid black 2px;
    border-radius: 10px;
    // box-shadow: 0 0 15px darkgray, 0 0 15px darkgray;
    cursor: pointer;
    @include mobile {
      margin: 2px;
      height: 95%;
      // width: 90%;
    }

    .img {
      flex: 3;
      overflow: hidden;
      img {
        margin: 8px;
        width: 90%;
        height: 90%;
      }
      @include mobile {
      }
    }
    a{
      color: black;
      text-decoration: none;
    }
    .sname {
      flex: 1;
      font-weight: 400;
      text-align: center;
      font-size: xx-large;
      padding: 5px;
      @include mobile {
        overflow: hidden;
        font-size: large;
        padding: 5px;
        font-weight: 400;
      }
    }
  }
  .nt:hover {
    box-shadow: none;
    color: antiquewhite;
    // width: 100.2%;
    // height: 100.2%;
    // transition: inhe;
  }

  // .left{
  //     flex: 1;
  //     display: flex;
  //     align-items: center;
  //     justify-content: center;
  //     button{

  //         width: 50px;
  //         height: 50px;
  //     }

  // }
  // .right{
  //     flex: 1;
  //     background-color: aqua;
  // }
}
